---
title: Installing and Configuring Azuqua Platform Connector for PCF
owner: Partners
---

This topic describes how Pivotal Cloud Foundry (PCF) operators can install and configure the Azuqua Platform Connector tile to make the service available to PCF developers. It also explains how to troubleshoot service setup errors.

##<a id='install'></a> Install the Azuqua Platform Connector Tile in Ops Manager

Perform the following steps to install the Azuqua Platform Connector tile:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the product file.

1. Under **Available Products** in Ops Manager, click **Add** next to the uploaded product description to add the Azuqua Platform Connector tile to your staging area.

1. Navigate to `https://azuqua.YOUR-SYSTEM-DOMAIN` to open the Azuqua Designer.

1. From the Azuqua Designer , select **User Settings** from the dropdown menu at upper-right.
	![Azuqua Designer: User Settings](user-settings.png)

1. Click **Developer** and record your **Access Key** and **Access Token**.
	![Azuqua Designer: Access Key and Token](developer-info.png)

1. Navigate back to PCF Ops Manager.

1. Click the Azuqua Platform Connector for PCF tile. 

1. Under the **Settings** tab, click **Assign Access Keys** and complete the following fields:
	* **Access Key**: Enter the access key you recorded above.
	* **Access Secret**: Enter the access token you recorded above.

	![Azuqua for PCF Tile: Azuqua Access Keys pane](azuqua-config-keys.png)

1. Click **Apply Changes** to install the service.

1. After Azuqua Platform Connector for PCF has finished deploying, return to the Azuqua Designer at `https://azuqua.YOUR-SYSTEM-DOMAIN`.

##<a id='troubleshoot'></a> Troubleshoot Azuqua Platform Connector for PCF

If you receive errors using the Azuqua Platform Connector tile or the Azuqua Designer, ensure the following:

* Users have the proper permissions from UAA to access the service broker.

* You have entered the correct Azuqua access key and access token.

* You have network access to `api.azuqua.com` from the service broker and all subdomains of `azuqua.com` from your workstation.

After making any changes to accommodate the above requirements, you need to restage the Azuqua Platform Connector service on PCF and update the service catalog, as described [below](#restage).

##<a id='restage'></a> Restage Azuqua Platform Connector

To restage the Azuqua Platform Connector service and update the service catalog on PCF, do the following:

1. Run `cf restage azuqua`.

1. Run `cf update-service-broker azuqua USER PASSWORD SERVICE-BROKER-URL`.
  - To find `USER` and `PASSWORD`, run `cf env azuqua` and check the output for variables `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD`.
  - To find `SERVICE-BROKER-URL`, run `cf apps` 

As an alternative to the steps above, you can reinstall the Azuqua Platform Connector for PCF tile from the Ops Manager Installation Dashboard.
