---
title: Installing and Configuring Azuqua for PCF
owner: Partners
---

This topic describes how to install and configure Azuqua for PCF.

##<a id='install'></a> Install and Configure YOUR-PRODUCT-NAME

This topic provides instructions for how to install and configure the tile. Typically this includes procedures for how to download the tile from PivNet, install it on Ops Manager, configure the tile, and do any required third-party configuration. **Screenshots** should be provided where necessary. Consult the following format:

## Install via Pivotal Ops Manager

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Upload the product file to your Ops Manager installation.

2. Navigate to "Available Products" view in the Ops Manager and click **Add** next to the uploaded product description to add Azuqua to your staging area.

3. Click the newly added tile to review any configurable options.

4. Populate the configuration options for your Azuqua account’s Access Key and Secret

![Azuqua for PCF Tile: Azuqua Access Keys pane](azuqua-config-keys.png)

5. Click **Apply Changes** to install the service.

6. Once deployed, visit the URL for the web dashboard. By default this will be <https://azuqua.my-pcf.com>.

## Upgrading to the Latest Version

**N/A - WIll populate once we have a new version available for upgrade.**

## Configuring the Azuqua Tile 

## *(add snapshots for each step when possible or add details as required)*

1. On completion of Azuqua tile install, check Services Marketplace in Apps Manager

2. View Azuqua Service Plans

3. Bind the Azuqua Service to an Application

4. Check the service or dashboard for the partner for more data
