---
title: Installing and Configuring Azuqua for PCF
owner: Partners
---

This topic describes how Pivotal Cloud Foundry (PCF) operators can install and configure the Azuqua Platform Connector tile to make the service available to PCF developers. It also explains how to troubleshoot service setup errors.

##<a id='install'></a> Install the Azuqua Tile in Ops Manager

Operators do the following to install the Azuqua Platform Connector tile 

1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. From the PCF Ops Manager Installation Dashboard, click **Import a Product** to upload the product file.

2. Under **Available Products** in Ops Manager, click **Add** next to the uploaded product description to add Azuqua to your staging area.

3. Click the newly added tile. Review and complete any configurable options.

4. Populate the configuration options for your Azuqua account’s Access Key and Secret

![Azuqua for PCF Tile: Azuqua Access Keys pane](azuqua-config-keys.png)

5. Click **Apply Changes** to install the service.

6. After Azuqua for PCF finishes deploying, visit the URL for the web dashboard. By default this will be <https://azuqua.my-pcf.com>.

##<a id='troubleshoot'></a> Troubleshoot Azuqua for PCF

If using the Azuqua tile for SSO generates errors, please ensure the following:

* Users have the proper permissions from UAA to access the service broker.

* Your Azuqua Access Key and Secret are correct.

* You have network access to api.azuqua.com from the service broker and all subdomains of azuqua.com from your workstation.

After making any changes to accommodate the above requirements, you need to restage the Azuqua service on Cloud Foundry and update the service catalog, as described [below](#restage).

##<a id='restage'></a> Restage Azuqua

To restage Azuqua service and update the service catalog on Cloud Foundry, do the following:

1. Run `cf restage azuqua`.

1. Run `cf update-service-broker azuqua USER PASSWORD SERVICE-BROKER-URL`.
  - To find `USER` and `PASSWORD`, run `cf env azuqua` and check the output for variables `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD`.
  - To find `SERVICE-BROKER-URL`, run `cf apps` 

As an alternative to the steps above, you can reinstall the Azuqua for PCF tile from the Ops Manager Installation Dashboard.
