---
title: Troubleshooting Azuqua for PCF
owner: Partners
---

This topic describes how to troubleshoot Azuqua Platform Connector for PCF.

##<a id='troubleshooting'></a> Troubleshoot Azuqua for PCF

If you receive errors using the tile for SSO with Azuqua, please ensure the following:

* Users have the proper permissions from UAA to access the service broker.

* Your Azuqua Access Key and Secret are correct.

* You have network access to api.azuqua.com from the service broker and all subdomains of azuqua.com from your workstation.

After making any changes to accommodate the above requirements, you need to restage the Azuqua service on Cloud Foundry and update the service catalog, as described [below](#restage).

##<a id='restage'></a> Restage Azuqua

To restage Azuqua service and update the service catalog on Cloud Foundry, do the following:

1. Run `cf restage azuqua`.

1. Run `cf update-service-broker azuqua USER PASSWORD SERVICE-BROKER-URL`.
  - To find `USER` and `PASSWORD`, run `cf env azuqua` and check the output for variables `SECURITY_USER_NAME` and `SECURITY_USER_PASSWORD`.
  - To find `SERVICE-BROKER-URL`, run `cf apps` 

As an alternative to the steps above, you can reinstall the Azuqua for PCF tile from the Ops Manager Installation Dashboard.

