---
title: Troubleshooting Azuqua for PCF
owner: Partners
---

This topic describes how to troubleshoot Azuqua for PCF.

##<a id='troubleshooting'></a> Troubleshoot Azuqua for PCF

If you receive errors using the tile for SSO with Azuqua, please ensure the following:

* Users have the proper permissions from UAA to access the service broker

* Your Azuqua Access Key and Secret are correct

* You have network access to api.azuqua.com from the service broker and all subdomains of azuqua.com from your workstation

In the event that changes need to be made to accommodate the above, please restage the service broker and update the service catalog with your Cloud Foundry instance:

* `cf restage azuqua`

* `cf update-service-broker azuqua <user> <password> <url>`

The url to your service broker may be found with `cf apps` and the user and password may be found with `cf env azuqua` and are set there under the variables "SECURITY_USER_NAME" and “SECURITY_USER_PASSWORD”.

Alternatively, you can reinstall the tile via the Ops Manager.
