---
title: Using Azuqua Platform Connector for PCF
owner: Partners
---

This topic describes how Pivotal Cloud Foundry (PCF) developers can use Azuqua Platform Connector with their applications.

##<a id='configure'></a>Getting started with Azuqua and Pivotal Cloud Foundry

With the Azuqua Platform Connector tile installed in Ops Manager:

1. Navigate to `https://azuqua.YOUR-SYSTEM-DOMAIN`.

     A prompt appears requesting permission for the Azuqua Broker to access your account's authentication token from UAA.

2. Select **Authorize** to be redirected to the Azuqua Designer where you can begin building FLOs.

<iframe width="560" height="315" src="https://www.youtube.com/embed/f5UzbVC_tmg" frameborder="0" allowfullscreen></iframe>
