---
title: Using Azuqua Platform Connector for PCF
owner: Partners
---

This topic describes how Pivotal Cloud Foundry (PCF) developers can use Azuqua Platform Connector with their applications.

##<a id='configure'></a>Create and Bind an Azuqua Platform Connector Service Instance 

With the Azuqua Platform Connector tile installed in Ops Manager, developers do the following to create instances of the Azuqua Platform Connector service in their spaces and bind the instances to their apps.

1. In Apps Manager, click **Services Marketplace**.

2. View **Azuqua Service Plans**.

3. Bind the Azuqua Platform Connector service to an app.

4. Check the service or dashboard for the partner for more data.
